.profile-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff; /* Light grey color */
}

.table th {
    width:250px;
    height: auto;
}