<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Neighborhood Skill Swap</title>
    </head>
    <body>
        <main>
            <h1>Welcome to the Neighborhood Skill Swap!</h1>
            <p>Here you can find people in your neighborhood who are willing to trade their skills for yours. You can also create a profile to let others know what you have to offer.</p>
            <a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>
        </main>
    </body>
</html>