{% block title %}List Skills{% endblock %}

{% block content %}
<div class="container">
    <!-- Row for listing skills -->
    <div class="row mt-4">
        <div class="col-12">
            <h3>{{ page_title }}</h3>
        </div>
        
        <!-- Loop through skills -->
        {% for skill in skills %}
            <div class="card col-md-4 mb-3">
                <div class="card-body">
                    <p>{{ skill.owner.username }} offers:</p>
                    <div class="row col-auto justify-content-center align-items-center text-center">
                        <div class="col-auto">
                            <a href="{% url 'skill_detail' skill.pk %}" class="btn btn-outline-secondary rounded-pill">{{ skill.name }}</a>
                        </div>
                        <p>{{ skill.rating }}/5 - {{ skill.reviews_count }} reviews</p>
                    </div>
                </div>
                <div class="card-footer">
                    >>>> 95% Skill Deal Guarantee <<<<
                </div>
            </div>
        {% empty %}
            <div class="card col-12">
                <div class="card-body">
                    <p>No skills found.</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Pagination links -->
    <div class="row mt-4">
        <div class="col-12">
            <ul class="pagination justify-content-center">
                {% for num in page_range %}
                    <li class="page-item {% if num == page_number %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
