{% extends 'base.html' %}

{% block title %}My Skills{% endblock %}

{% block content %}
{% for skill in skills %}
    <div class="card col-md-3">
        <div class="card-body">
            <p>{{ skill.owner.username }} offers:</p>
            <div class="row col-auto justify-content-center align-items-center text-center">
                <div class="col-auto">
                    <a href="{% url 'skill_detail' skill.pk %}" class="btn btn-outline-secondary rounded-pill">{{ skill.name }}</a>
                </div>
                <p>{{ skill.rating }}/5 - {{ skill.reviews_count }} reviews</p>
            </div>
        </div>
        <div class="card-footer">
            >>>> 95% Skill Deal Guarantee <<<<
        </div>
    </div>
    <br />
{% empty %}
    <div class="card">
        <div class="card-body">
            <p>No skills found.</p>
        </div>
    </div>
    <br />
{% endfor %}
{% endblock %}
