<!-- Template for a page that displays a list of skills with links to the detail page for each skill.-->
{% extends 'base.html' %}

{% block title %}My Skills{% endblock %}

{% block content %}
{% for skill in skills %}
<div class="card">
    <div class="card-body">
        <a href="{% url 'skill_detail' skill.pk %}">{{ skill.name }}</a>
        <p>{{ skill.owner }}</p>
        <p>Skill type: {{ skill.skill_type }}</p>
    </div>
</div>
<br />
{% endfor %}
<p>Back to <a href="{% url 'profile' user.id %}" class="btn btn-primary">Profile</a>.</p>
{% endblock %}
